<h1>{{ heading }}</h1>

{% for projectTitle, project in section.projects %}
    <div class="panel panel-primary">
        <div class="panel-heading" style="cursor: pointer"
             onclick="$('#project_content_{{ loop.index }}').slideToggle('fast')">
            <h3 class="panel-title">
                {{ projectTitle }}
                {% if project.tags is defined and project.tags|length %}
                    {% for tag in project.tags %}
                        <span class="label label-primary pull-right">{{ tag }}</span>
                    {% endfor %}
                {% endif %}
            </h3>
        </div>
        <div class="panel-body" style="display: none" id="project_content_{{ loop.index }}">
            {% if project.image is defined %}
                <img class="img-responsive" src="{{ project.image }}">
            {% endif %}
            <p>{{ project.description }}</p>
        </div>
    </div>
{% endfor %}