<div class="row">
    <div class="col-md-6">
        <h1>{{ heading }}</h1>
        <p>{{ section.description | raw }}</p>
    </div>
    <div class="col-md-6">
        <h1>Skills</h1>
        {% for skillName, percent in section.skills %}
            <div class="progress">
                <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar"
                     aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%">
                    <span class="pull-left" style="margin-left: 10px">{{ skillName }}</span>
                    <span class="pull-right" style="margin-right: 10px">{{ percent }}%</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
